<%- include("header") -%>
<h2>This is a about test</h2>
<p>siufgbhsiadougbsiuognisuhgislfughfsioughdfiuhgzdfiljgbzdfijhnzdflijghsfiougdfijgdfipogdfiogndfujgbhdfjgbndfjbdfijgbdfpoibndfouibdfb</p>
<%- include("footer") -%>